.app {
    background: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.cars-list main {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

#car-name-input {
    width: 100px;
    height: 40px;
}

.car-details {
    background-color: rgba(0, 0, 0, 0.507);
    padding: 2.5%;
    margin-top: 2.5%;
}
